<html5>
<head>
	<meta HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<title>The Logrus Champions Page</title>
	<meta NAME="AUTHOR" CONTENT="Pamela Nic Gil Ean">
	<meta NAME="CHANGED" CONTENT="20180324">
	
	<link rel="stylesheet" Type="text/css" href="/logrus.css">
	
</style>
</head>

<body>

	<div id="banner">
		<h1><A href="http://www.logrus.ca/">The Logrus</A></h1>
	
		<nav>
			<a href="/Denizens">About Us</a>
			<a href="/RecipeBook">Recipes</a>
			<a href="/Gaidhlig">Gaelic</a>
			<a href="/Photoalbum">Photos</a>
			<a href="/Songbook">Songbook</a>
			<a id="thispage" href="/Champions">Champions</a>
		</nav>
	</div>
	
	<h2>Champions</h2>
	<h3>September 1: Terror and Teleports</h3>
	<h4>Session 1</h4>
	<h5>Players:	Anne 	as 	<A href="C4.html">"C4"</a>; 
	    			Arlene 	as <A href="Ghost.html">"Ghost"</a>; 
					Bill 	as <A href="Hammer.html">"Hammer"</a>"Mike Hammer"; 
	    			Claire 	as <A href="Bullet.html">"Bullet"</a>; 
	    			Dean 	as <A href="Stick.html">"Stick"</a>; 
	    			Doug 	as <A href="Trilobite.html"></a>"Trilobite"; 
					Nazrat 	as <A href="Psyclist.html">"Psyclist"</a>; 
	    			Parker 	as <A href="Iffrit.html">"Iffrit"</a>; 
	    			Rachel 	as <A href="Alphonse.html">"Alphonse"</a></h5>
	
	<h4>Background</h4>
	<p></p>
	    <ul>
	   <li></li>
	   </ul>
	   
	<h4>Engaging Our Heros</h4>
	<p></p>
	    <ul>
	   <li></li>
	   </ul>
	   
	<h4>The Plot Thickens</h4>
	<p></p>
	    <ul>
	   <li></li>
	   </ul>
	   
	<h4>Combat</h4>
	<p></p>
	    <ul>
	   <li></li>
	   </ul>

</html>